.container-bar-nav {
  background-color: #212d44;
  color: white;
  display: flex;
  flex-direction: row;
  height: 70px;
}

.container-input {
  display: flex;
  position: absolute;
  top: 0;
  left: 30%;
}

.input-search-bar {
  height: 45px;
  width: 400px;
  margin: 9px 9px 0 0;
  border-radius: 21px;
  border: 2px solid black;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #4b4f63;
  color: black;   
}

.input-search-bar::placeholder {
  color: white;
}

.input-search-bar:hover {
  background-color: #676c82;
}

.a-bar-nav {
  cursor: pointer;
  margin: 22px 80px 0 0;
  font-size: 22px;
  color: white;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  width: 70px;
  height: 35px;
}

.a-bar-nav:hover {
  background-color: #676c82;
  border-radius: 21px;
}

.h2-bar-nav {
  width: 150px;
  margin: 0 0 0 30px;
}

.span-search {
  cursor: pointer;
  margin: 0 90px 0 0;
}

.show-x {
  display: flex;
  position: absolute;
  left: 45%;
  top: 12%;
  color: rgb(195, 14, 14);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  cursor: pointer;
}

.hidden-x {
  display: none;
}