.container-filter {
  text-align: left;
  margin: 20px 0 0 30px;
  font-size: 20px;
}

.a-filter {
  cursor: pointer;
  margin: 20px 0 0 25px;
  color: black;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  border-radius: 21px;
}

.a-filter-active {
  border: 10px solid #212d44;
  background-color: #212d44;
  color: white;
}

